.MeetingListing {

}

.MeetingListing .table-label {
    font-weight:bold;
    width:20%;
}

ul.AttendeesListing li {
    padding-bottom:0.5em;
}


.MeetingItemWrapper .MeetingItemBody {
    margin-left: 0em;
    margin-bottom: 3em;
}
.MeetingItemWrapper .MeetingItemBody table td p,
.MeetingItemWrapper .MeetingItemBody table th p {
    font-size: 1em;
}
.MeetingItemHead .itemTitle {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
.MeetingItemBody > table {
  margin-top: 0;
}
.MeetingItemHead {
  padding: 5px;
  cursor: pointer;
}
.MeetingItemWrapper {
  margin-top: 0.5em;
}
.MeetingItemWrapper:hover .MeetingItemHead {
    background: #EFEFEF;
}
.MeetingItemWrapper .meetingItemActions {
  display: none;
  float: right;
}
.MeetingItemWrapper:hover .meetingItemActions {
  display: block;
}



/* meetingitem actions */
.meetingItemActions a,
.meetingItemActions span {
  background: url(../../meetingitem_actions.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  display: inline-block;
  text-decoration: none;
}
.meetingItemActions a:first-child {
  margin-left: 0;
}
.meetingItemActions span.buttonMove {
  background-position: 0 0;
  cursor: move;
}
.meetingItemActions span.buttonMove:hover {
  background-position:0 -50px;
}
.meetingItemActions a.buttonEdit {
  background-position:0 -100px;
}
.meetingItemActions a.buttonEdit:hover {
  background-position:0 -150px;
}
.meetingItemActions a.buttonRemove {
  background-position:0 -200px;
}
.meetingItemActions a.buttonRemove:hover {
  background-position:0 -250px;
}