.MeetingListing {

}

.MeetingListing .table-label {
    font-weight:bold;
    width:20%;
}

ul.AttendeesListing li {
    padding-bottom:0.5em;
}


.MeetingItemWrapper .MeetingItemBody {
    margin-left:0em;
}
.MeetingItemWrapper .MeetingItemBody table {
    border:none;
}
.MeetingItemWrapper .MeetingItemBody table td p,
.MeetingItemWrapper .MeetingItemBody table th p {
    font-size: 1em;
}


.MeetingItemWrapper .MeetingItemHead {
    background-color:#F4F4FF;
    padding:0.5em;
    border-top:1px solid silver;
    margin-top:0.5em;
}
.MeetingItemWrapper .MeetingItemHead img {
    display: block;
    float: left;
    padding-right:0.5em;
}

.MeetingItemWrapper .MeetingItemHead a {
    font-size:1.2em;
    font-weight:bold;
}

.MeetingItemWrapper .MeetingItemHead:hover{
    cursor:move;
    background-color:#cccccc;
}
